body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flexi{
  margin: 50px 300px;
  display: flex;
}
.cases{
  margin-right: 20px;
  border-radius: 20px;
  height:300px;
  width: 300px;
  background-color: rgb(85, 85, 211);
  color: white;
}
.recovered{
  margin-right: 20px;
  border-radius: 20px;
  height:300px;
  width: 300px;
  background-color: rgb(17, 170, 43);
  color: white;
}
.deaths{
  margin-right: 20px;
  border-radius: 20px;
  height:300px;
  width: 300px;
  background-color: rgb(185, 14, 36);
  color: white;
  
}
p{
  font-size: 40px;
  font-weight: 700;
}
.inp{
  background-color: white;
  height: 18vh;
  width: 100%;
} 
input{
  width: 75%;
  height: 30px;
  border-radius: 8px;
  margin-top: 8px;
  outline: none;
  border: 0;
  border: 1px solid cornflowerblue;
  text-transform: uppercase;
  font-weight: 700;
  color: cornflowerblue;
}

